cma==4.4.1
coco-experiment==2.8.2
cocopp==2.8.1
Cython==3.2.2
matplotlib==3.10.7
numpy==1.26.4
pandas==2.0.3
persim==0.3.8
pflacco==1.2.2
ripser==0.6.12
scikit-learn==1.2.2
scikit-tda==1.1.1
scipy==1.10.1
scipy-stubs==1.16.3.2
seaborn==0.13.2
tqdm==4.67.1